{%extends "layout.html"%}
{%block content%}
<div class = "about">
  

    
    <div class="about-section">
     <h1>About Us</h1>
     <p>KHS Tutoring strives to help individuals achieve academic success. We also endeavor to help other individuals in the community through the donations we recieve for our fruitful efforts. </p>
     <p><strong>To learn more about KHS Tutoring in detail, please click the following button</strong></p>
     <a href = "https://docs.google.com/document/d/1D5jR4jCqW-pjqqnV--tEYqf10XDhLgQNJogXHuc8Rik/edit?usp=sharing"><button class="btn success">Details</button></a>
    </div>
    
    <div class="bg"></div>
    <div class="bg bg2"></div>
      <div class="bg bg3"></div>
 
    
     <h1><center>Meet the Team</center></h1>
   
<center><button class="button button4"><h1>Co-President</h1><p>Arisha Haque</p></button>
<button class="button button4"><h1>Co-President</h1><p>Samantha Law</p></button>
<button class="button button4"><h1>Co-President</h1><p> Nitya Anne </p></button>
<button class="button button4"><h1>--Secretary-</h1><p>Mahek Patel</p></button>
<button class="button button4"><h1>--Treasurer-</h1><p>Rebecca Pothen</p></button>
<button class="button button4"><h1>--Reporter--</h1><p> Amma Amanknawah </p></button></center>
    
</div>
{%endblock%}