{%extends "layout.html"%}
{%block content%}
<div class= "scheduling">
    <div style="background-color:rgba(255,255,255,.8); text-align:left; vertical-align: middle; padding:40px 40px;"><h1><center>KHS Tutoring Calendar</center></h1>
    <iframe src="https://calendar.google.com/calendar/embed?src=9nu1j3lmo8uo12jlnsji23euvk%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="700" height="500" frameborder="0" scrolling="no" align="left"></iframe></div>
    <br><h1><center>Monday Link</center></h1></br>
    <center><a href = "https://theuselessweb.com/"><button class="btn success">Join Now</button></a></center>
    <br><h1><center>Wednesday Link</center></h1></br>
    <center><a href = "https://theuselessweb.com/"><button class="btn success">Join Now</button></a></center>
    <br><h1><center>Friday Link</center></h1></br>
    <center><a href = "https://theuselessweb.com/"><button class="btn success">Join Now</button></a></center></div>

    <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
</div>
</div>
{%endblock%}