{%extends "layout.html"%}
{%block content%}
<div class = "about">
  

    
    <div class="about-section">
     <h1>About Us</h1>
     <p>KHS Tutoring strives to help individuals achieve academic success for free. We also endeavor to help other individuals in the community through the donations we recieve for our fruitful efforts. </p>
     <p><strong>To learn more about KHS Tutoring in detail, please click the following button</strong></p>
     <a href = "C:\Users\ARHaq\OneDrive\Documents\KHSTutoringwebsite\myproject\images\2.jpg"><button class="btn success">Details</button></a>
    </div>
    
    <div class="wave"></div>
    <div class="wave2"></div>
      <div class="wave3"></div>
 
    
     <h1><center>Contact the Officer Team</center></h1>

     <div class="row">
       <div class="column">
         <div class="card">
           <div class="container">
             <h1><center>Arisha Haque</center></h2>
             <p class="title">President & Founder</p>
             <p>arhaque09@outlook.com</p>
             <p><button class="button"><a href="mailto: arhaque09@outlook.com">Contact</a></button></p>
           </div>
         </div>
       </div>
     
       <div class="column">
         <div class="card">
           <div class="container">
             <h1><center>Nitya Anne</center></h2>
             <p class="title">President & Founder</p>
             <p>annenitya@gmail.com</p>
             <p><button class="button"><a href="mailto: annenitya@gmail.com">Contact</a></button></p>
           </div>
         </div>
       </div>
     
       <div class="column">
         <div class="card">
           <div class="container">
             <h1><center>Samantha Law</center></h2>
             <p class="title">President & Founder</p>
             <p>samanthalaw2016@gmail.com</p>
             <p><button class="button"><a href="mailto: samanthalaw2016@gmail.com">Contact</a></button></p>
           </div>
         </div>
       </div>
    
    <div class="row">
       <div class="column">
         <div class="card">
           <div class="container">
             <h1><center>Amma Amanakwah</center></h2>
             <p class="title">Reporter</p>
             <p>amma.amankwah1@gmail.com</p>
             <p><button class="button"><a href="mailto: amma.amankwah1@gmail.com">Contact</a></button></p>
           </div>
         </div>
       </div>
     
       <div class="column">
         <div class="card">
           <div class="container">
             <h1><center>Mahek Patel</center></h2>
             <p class="title">Secretary</p>
             <p>mahekmail16@gmail.com</p>
             <p><button class="button"><a href="mailto: mahekmail16@gmail.com">Contact</a></button></p>
           </div>
         </div>
       </div>
     
       <div class="column">
         <div class="card">
           <div class="container">
             <h1><center>Rebecca Pothen</center></h2>
             <p class="title">Treasurer</p>
             <p>rebeccapothen123308@gmail.com</p>
             <p><button class="button"><a href="mailto: rebeccapothen123308@gmail.com">Contact</a></button></p>
           </div>
         </div>
       </div>
     </div>
{%endblock%}