{%extends "layout.html"%}
{%block content%}
<div class= "contact_us">
  <h1><center>Contact Us</center></h1>
    <div class="container">
      <center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScYPZ8ZOoM24Azf4pvSp1bJil0bDj_eIW59YOyjiZ74kdxuyw/viewform?embedded=true" width="640" height="677" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </center>
      </div>
    <div class="wave"></div>
<div class="wave2"></div>
<div class="wave3"></div>
</div>
</div>
{%endblock%}