{%extends "layout.html"%}
{%block content%}
    <h1><center>Welcome to KHS Tutoring</center></h1>
      <!--background-->
      <div class="wave"></div>
<div class="wave2"></div>
<div class="wave3"></div>
<div class="content">
  <h1>Announcements</h1>
  <p>School sessions will start in late September. Please view our scheduling and contact us for more information.</p>
  <p>Click the following button if you are interested in recieving tutoring</p>
  <a href = "https://docs.google.com/forms/d/e/1FAIpQLSeplbIUqgBT3EFdcPKV4vZkKxQNcYxk73hJNKxzRJhIIDDc7w/viewform?usp=sf_link"><button class="btn success">Join Now</button></a>
</div>
</div>
{%endblock%}