{%extends "layout.html"%}
{%block content%}
<div class= "scheduling">
    <div style="background-color:rgba(255,255,255,.8); text-align:left; vertical-align: middle; padding:40px 40px;"><h1><center>KHS Tutoring Calendar</center></h1>
    <iframe src="https://calendar.google.com/calendar/embed?src=9nu1j3lmo8uo12jlnsji23euvk%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="700" height="500" frameborder="0" scrolling="no" align="left"></iframe></div>
    <br><h1><center>Monday</center></h1></br>
    <center><a href = "https://us05web.zoom.us/j/87390561461?pwd=UXJwcytRUGc3VWszWGFiRmZZSVFiZz09"><button class="btn success">Join Now</button></a></center>
    <br><h1><center>Wednesday</center></h1></br>
    <center><a href = "https://us05web.zoom.us/j/87390561461?pwd=UXJwcytRUGc3VWszWGFiRmZZSVFiZz09"><button class="btn success">Join Now</button></a></center>
    <br><h1><center>Friday</center></h1></br>
    <center><a href = "https://us05web.zoom.us/j/87390561461?pwd=UXJwcytRUGc3VWszWGFiRmZZSVFiZz09"><button class="btn success">Join Now</button></a></center>
</div>

    <div class="wave"></div>
<div class="wave2"></div>
<div class="wave3"></div>
</div>
</div>
{%endblock%}